.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 20px;
}

.dashboard .sidenav {
    background-color: gray;
    padding: 10px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;

    flex-basis: 20%;
}

.dashboard .content {
    background-color: white;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;

    flex-basis: 80%;
}