.layoutHome {
    display: flex;
    flex-direction: column;
}

.nav {
    position: sticky;
    top: 0;
}

.home {
    background-image: url("../images/background_home.jpg");
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 20px;
}

.overflow {
    height: 1000px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.overflowRecommendation {
    width: 1300px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.overflow::-webkit-scrollbar, .overflowRecommendation::-webkit-scrollbar {
    display: none;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;

    margin-top: 50px;
    font-size: 20px;
}

.image {
    border-radius: 8px;
    border: 1px solid white;
}

.suggestion {
    margin: 10px;
    padding: 5px;
    width: max-content;
    border: 1px solid white;
    border-radius: 20px;
    opacity: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.filmSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.filmRecommendSection {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.description {
    text-align: start;
}

.film {
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.film:hover {
    box-shadow: 3px 3px 10px 1px black;
    background-color: rgba(255, 255, 255, 0.1);
}

.selectedMovie {
    color: rgb(115, 115, 243);
    font-style: oblique;
    font-weight: bold;
}

.movieCard {
    width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

.imageMovies {
    border-radius: 8px;
    box-shadow: 3px 3px 10px 1px black;
    cursor: pointer;
}

.divPopup {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.divPopupContent {
    position: fixed;
    width: 1300px;
    height: 700px;
    left: 50%;
    top: 370px;
    transform: translate(-50%, -50%);
    background-color: rgba(117, 117, 117, 0.7);
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
}

.closeButton {
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.closeButton:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}

.buttonTrailer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: backgroud-color 0.3s ease, color 0.3s ease;
}

.buttonTrailer:hover {
    background-color: grey;
    color: white;
}

.divPopupTrailer {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: -100px;
    bottom: 0;
    left: -100px;
    z-index: 15;          
}

.trailerFilm {
    margin: 0 auto;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.selectedFilm {
    background-color: rgba(197, 197, 197, 0.559);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 50px;
}

.selectedImageFilm {
    border-radius: 8px;
    box-shadow: 3px 3px 10px 1px black;
}

.aboutColumn {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-left: 150px;
    padding-right: 150px;
}

.aboutRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 200px;
}

.aboutSection {
    text-align: start;
}

.aboutBar {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.itemAboutBar {
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.itemAboutBar:hover {
    text-shadow: 1px 1px 10px #ffffff;
}

.histories_container {
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
}

.histories_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

    overflow-x: scroll;
    scrollbar-width: none;
}

.histories_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.histories_caption {
    margin: 10px;
    padding: 5px;
    width: max-content;
    border: 1px solid white;
    border-radius: 20px;
    opacity: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.filter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-bottom: 20px;
}

.genresButton, .languagesButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
}

.genreButton, .languageButton {
    font-size: 16px;
    color: #333;
    background-color: white;

    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.genreButton:hover, .languageButton:hover {
    background-color: #aaaaaa;
    color: white;
}

.activeButton {
    background-color: #8a8b8c;
    color: white;
    border-color: white;
}

@media (max-width: 400px) {
    .home {
        padding: 5px;
        max-width: 400px;
    }
    
    .section {
        padding: 10px;
    }

    /* Section 1 People and Quotes*/
    .image {
        width: 90px;
        height: 70px;
    }

    .quote {
        gap: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

    /* Section 2.1 Histories */
    .histories_container {
        max-width: 380px;
        margin-bottom: 5px;
    }

    .suggestionIcon {
        width: 15px;
        height: 15px;
    }

    .histories_caption {
        font-size: 14px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .histories_item {
        font-size: 15px;
        text-align: center;
        width: max-content;

        display: flex;
        flex-direction: column;
    }

    .historiesItemPoster {
        width: 80px;
        height: 100px;
    }

    /* Session 2.2 Filter Genre dan Bahasa */
    .filter_container {
        gap: 5px;
        font-size: 14px;
    }

    .genresButton, .languagesButton {
        flex-wrap: wrap;
        gap: 10px;
        width: 350px;
        margin-bottom: 10px;
    }

    .genreButton, .languageButton {
        font-size: 14px;
        margin-right: 10px;
    }

    /* Session 2.3 Daftar Film */
    .filmSection {
        gap: 10px;
    }

    .film {
        width: 100px;
        height: 280px;
    }

    .imageMovies {
        width: 90px;
        height: 130px;
    }

    /* Section 3 About*/
    .aboutRow {
        gap: 60px;
    }

    .aboutSection {
        font-size: 14px;
        text-align: justify;
        width: 150px;
    }

    .aboutBar {
        flex-direction: column;
        gap: 30px;
    }
}