.layoutDashboard {
    display: flex;
    flex-direction: row;
    background-color: rgba(81, 81, 81, 0.535);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.sideNav {
    flex-basis: 25%;
    padding: 10px;
}

.main {
    flex-basis: 75%;
    background-color: rgb(207, 202, 202);
    border-radius: 5px;
    padding: 10px;
}