.top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    background-color: rgba(63, 63, 63, 0.9);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header, .nav {
    padding: 20px;
    text-transform: uppercase;
}

.header {
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.item {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 70px;
    cursor: pointer;
}

.item:hover {
    text-shadow: 5px 5px 5px #000000;
}

@media (max-width: 400px) {
    .top_nav {
        flex-direction: column;
        align-items: center;
    }

    .header {
        margin-left: 0px;
    }

    .nav {
        font-size: 16px;
        align-items: center;
    }

    .item {
        margin-right: 20px;
    }
}